// _variables.scss

// Definindo as variáveis
$font-stack: 'Roboto', sans-serif; // Fonte padrão
$background-color: #f5f6fa; // Cor de fundo do corpo
$header-background: #182C61; // Cor de fundo do cabeçalho
$primary-color: #44bd32; // Cor primária para botões
$primary-hover: #4cd137; // Cor do botão ao passar o mouse
$max-width: 1024px; // Largura máxima do container
$container-padding: 16px 0; // Padding do container
$border-radius: 8px; // Raio da borda para botões
$product-border-radius: 16px; // Raio da borda para imagens dos produtos
